# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
.venv
env/
venv/
ENV/

# Database
db.sqlite3
db.sqlite3-journal

# Static files
/static/
/media/

# Logs
*.log

# Docker
.docker/

# IDE specific files
.idea/
.vscode/